*{
    margin: 0;
    padding:0;
}

div{
    margin: 20px auto;
    width: 20%;
}
button{
    width: 100px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: rgb(57, 94, 95);
    color: white;
}

img{
    display: block;
    margin: 10px auto;
    height: 200px;
}

input{
    width: 300px;
    font-size: 1.25em;
    padding: 3px;
    border: 2px solid black;
}